:root {
    --primary-color: #0095FF;
    --secondary-color: #FF9500;

    --super-light-grey: #f0f0f0;
    --default: #0095FF;
    --default-d: #0085EF;
    --success: #288E25;
    --success-transparent: #288E2511;
    --success-d: #187E15;
    --error: #DA2313;
    --error-transparent: #DA231311;
    --error-d: #CA1303;

    --link-color: -webkit-link;
    --text-color: #1A2730;
    --text-color-hover: #1A2730BB;
    --background-color: #FFF;
}

.theme-dark {
    --link-color: #AfAf00;
    --text-color: #E6E7E8;
    --text-color-hover: #E6E7E8BB;
    --background-color: #1A2730;
}